# .NET Core
**/bin/
**/obj/
*.user
*.userosscache
*.sln.docstates
.vs

# Variáveis de Ambiente
.env

# Arquivos de Cache e Indexação do .NET
*.lscache
*.csproj.lscache
*.suo
*.user
*.userosscache
*.sln.docstates