# Configurações do Banco de Dados
SUPABASE_CONNECTION=Host=db.xxx.supabase.co;Port=5432;Database=postgres;Username=postgres;Password=SUA_SENHA_AQUI

# Configurações de Autenticação JWT
JWT_SECRET=CHAVE_ALEATORIA
JWT_ISSUER=KiwiFinanceAPI
JWT_AUDIENCE=KiwiFinanceApp