<header class="modal-header">
    <div class="titulo-header">
        <h2>Nova Transação</h2>
        <p>adicionar transação manualmente</p>
    </div>
    <button type="button" class="fechar-modal"><img src="/frontend/assets/icons/close-page.svg" alt=""></button>
</header>

<form class="modal-form">
    <div class="campos-transacao">
        <h3>Tipo</h3>
        <div class="tipo-transacao">
            <button type="button" class="tipo-btn ativo" data-tipo="receita">
                Receita
            </button>
            <button type="button" class="tipo-btn" data-tipo="despesa">
                Despesa
            </button>
            <input type="hidden" id="tipo-transacao" value="receita">
        </div>
    </div>

    <div class="campos-transacao">
        <h3>Categoria</h3>
        <select name="Categoria" id="categoria">
            <!-- As opções serão carregadas dinamicamente -->
        </select>
    </div>

    <div class="campos-transacao">
        <h3>Descrição</h3>
        <input type="text" id="descricao-transacao" placeholder="Descrição">
    </div>

    <div class="campos-transacao">
        <h3>Valor</h3>
        <input type="text" id="valor-transacao" placeholder="R$ 0,00">
    </div>

    <div class="campos-transacao">
        <h3>Data</h3>
        <input type="date" id="data-transacao" max="9999-12-31">
    </div>

</form>

<div class="btn-registro">
    <button type="button" id="btn-registrar-transacao">Registrar Transação</button>
</div>