@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url('/frontend/assets/images/Login.png') no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header{
    position:absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

h3{
    color:#F0F0D8;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.main-login{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.left-login{
    display: flex;
    flex-direction: column;
}

img{
    width: 315px;
    height: 240px;
}